<form action="/confirm-booking" method="post">

    <input type="hidden"
           name="code"
           th:value="${tour.code}">

    <input type="hidden"
           name="travelDate"
           th:value="${travelDate}">

    <input type="hidden"
           name="adults"
           th:value="${adults}">

    <input type="hidden"
           name="children"
           th:value="${children}">

    <input type="hidden"
           name="time"
           th:value="${time}">

    <input type="hidden"
           name="totalAmount"
           th:value="${price.totalPrice}">

    <input type="hidden"
           name="currency"
           th:value="${price.currency}">

    <button class="btn btn-success btn-lg w-100">

        ✅ Confirm Booking

    </button>

</form>