<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Booking Success</title>

    <meta charset="UTF-8">

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet">

</head>

<body style="background:#eef6ff;">

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-7">

            <div class="card shadow-lg border-0 text-center">

                <div class="card-body p-5">

                    <h1 class="text-success">

                        ✅ Booking Successful

                    </h1>

                    <hr>

                    <h3>

                        Booking ID

                    </h3>

                    <h2
                            class="text-primary"
                            th:text="${booking.providerBookingId}">
                    </h2>

                    <br>

                    <h5>

                        Status :

                        <span
                                class="text-success"
                                th:text="${booking.bookingStatus}">
                        </span>

                    </h5>

                    <p
                            th:text="${booking.message}">
                    </p>

                    <a href="/dashboard"
                       class="btn btn-primary">

                        Go to Dashboard

                    </a>

                    <a href="/search"
                       class="btn btn-success">

                        Book Another Tour

                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

</body>

</html>